:root {
  --primary-blue: rgba(29, 57, 75, 1);
  --base-size: 55.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--base-size);
  /* font-size: 55%; */
}
.navigation-drawer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 29rem;
  min-height: 100vh;
  background-color: var(--primary-blue);
  padding-top: 1rem;
  transition: width 0.3s ease-out;
}
.button-collapse {
  /* position: absolute;
  left: 0.3rem;
  top: 2rem; */
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation-drawer-top {
  height: 5.6rem;
  width: 100%;
}
.navigation-logo {
  /* position: absolute;
  left: 3.2rem; */
  width: auto;
  height: 32px;
  /* transition: all 0.3 ease; */
}
/* items */
.navigation-drawer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* background-color: aqua; */
  /* padding-left: 1.2rem; */
}

.drawer-group {
  width: 100%;
}
.drawer-item {
  position: relative;
  height: 5.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  cursor: pointer;
}

.sub-item {
  padding-left: 4.4rem;
  padding-right: 1.2rem;
}
.sub-item-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-item:hover,
.no-sub:hover {
  background-color: #dee3e9;
  border-radius: 10rem;
  /* background-clip: content-box; */
}
.sub-item:hover .drawer-item-text {
  color: var(--primary-blue);
}
.drawer-item-expand {
  position: absolute;
  right: 0.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.drawer-item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  color: #e4e2e3;
  text-decoration: none;
  /* padding-left: 20px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.item-icon {
  padding-left: 1rem;
  padding-right: 1rem;
}

.has-sub:hover {
  background-color: #dee3e9;
  border-radius: 10rem 0 0 10rem;
}

.drawer-item:hover .drawer-item-text {
  color: var(--primary-blue);
}

.has-sub:hover path,
.has-sub:hover,
.no-sub:hover path,
.no-sub:hover,
.navigation-drawer-toggle:hover .nav-toggle path,
.navigation-drawer-toggle:hover .nav-toggle:hover {
  fill: var(--primary-blue);
}

.has-sub ~ .sub-item {
  opacity: 0;
  height: 0;
  transition: height 0.3s ease-out;
}
.has-sub.active > .drawer-item-expand {
  transform: rotate(180deg);
}
.has-sub.active ~ .sub-item {
  opacity: 1;
  height: 5.6rem;
  transition: height 0.3s ease-out;
}

.item-add {
  opacity: 0;
  margin-right: 1.4rem;
}

.sub-item:hover .item-add {
  opacity: 1;
}

.item-add:hover {
  padding: 0.6rem;
  margin-right: 0.8rem;
  background-color: #cae6fd;
  /* background-clip: content-box; */
  border-radius: 10rem;
  transform: scale(1.2);
}

.navigation-drawer.collapse
  .navigation-drawer-items
  .drawer-group
  .drawer-item-text,
.navigation-drawer.collapse
  .navigation-drawer-items
  .drawer-group
  .drawer-item-expand,
.navigation-drawer.collapse .navigation-drawer-items .drawer-group .sub-item {
  opacity: 0;
  height: 0;
}
.navigation-drawer.collapse
  .navigation-drawer-items
  .drawer-group
  .has-sub:hover,
.navigation-drawer.collapse
  .navigation-drawer-items
  .drawer-group
  .no-sub:hover {
  /* height: 4rem; */
  /* width: 4rem; */
  /* margin-top: 0.8rem; */
  /* margin-bottom: 0.8rem; */
  background: transparent;
  border-radius: 4rem;
  background-color: #dee3e9;
}

.navigation-drawer.collapse {
  width: 6.4rem;
  transition: width 0.3s ease-out;
}
.navigation-drawer.collapse .button-collapse {
  transform: rotate(180deg);
}
.navigation-drawer.collapse .navigation-logo {
  width: 28px;
  height: 32px;
  object-fit: none;
  object-position: left;
}
.navigation-drawer-toggle {
  position: absolute;
  width: 5.6rem;
  left: 0.4rem;
  bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.6rem 0.4rem 1.6rem;
  opacity: 0;
}
.navigation-drawer-toggle:hover {
  background-color: #dee3e9;
  border-radius: 10rem;
  cursor: pointer;
}
.navigation-drawer.hide {
  opacity: 0;
  width: 0;
  transition: all 0.3s ease-out;
}
.menu-divider {
  width: 100%;
  height: 1px;
  padding-left: 0.4rem;
  padding-right: 1.6rem;
}
.menu-divider hr {
  border: 1px solid #cac4d0;
}
.navigation-drawer.collapse .navigation-drawer-items .no-rail {
  opacity: 0;
  height: 0;
}

.navigation-drawer .navigation-drawer-toggle.show {
  opacity: 1;
}
.item-icon > svg,
.drawer-item-expand {
  transform: scale(calc(var(--base-size) * 1.6));
}
